{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><form>
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Layer
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">ABC</a></li>
    <li><a href="#">PQR</a></li>
    <li><a href="#">XYZ</a></li>
  </ul>

  <div class="col-xs-2">
    <label for="ex1">oct</label>
    <input class="form-control" id="ex1" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Octaves</label>
    <input class="form-control" id="ex2" type="text">
  </div>
  <div class="col-xs-4">



    <br>
  </div>
 </form>


{% endblock %}